---
# based on LLVM
AlignEscapedNewlines: Left
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: true
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBraces: Custom
BreakConstructorInitializers: AfterColon
BreakTemplateDeclarations: Yes
ColumnLimit: 120
ConstructorInitializerIndentWidth: 8
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '"[a-zA-Z0-9_\.]+.+"$' # own headers to enforce self-contained design
    Priority: 1
  - Regex: '<catch2\/[a-zA-Z0-9_]+.+>$'
    Priority: 2
  - Regex: '<freddy\/[a-zA-Z0-9_]+.+>$' # for tests
    Priority: 3
  - Regex: '<boost\/[a-zA-Z0-9_]+.+>$'
    Priority: 4
  - Regex: '<[a-zA-Z0-9_]+>$' # system headers
    Priority: 5
IndentCaseLabels: true
IndentWidth: 4
InsertNewlineAtEOF: true
PackConstructorInitializers: Never
PointerAlignment: Left
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterRequiresInClause: true
SpacesBeforeTrailingComments: 2
SpacesInContainerLiterals: false
TabWidth: 4
...
