---
Checks: |
  clang-diagnostic-*,

  clang-analyzer-*,

  boost-*,

  bugprone-*,
  -bugprone-easily-swappable-parameters, # plus(edge*, edge*)
  -bugprone-exception-escape,            # due to the incorrect assumption about swap()
  -bugprone-tagged-union-member-count,   # because of false positives (node)
  -bugprone-unchecked-optional-access,   # since even checks by has_value are ignored

  cert-*,

  concurrency-*,

  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-do-while,        # as it is the best choice in some cases
  -cppcoreguidelines-avoid-magic-numbers,   # sizeof(node<bool, bool>) <= 32
  -cppcoreguidelines-pro-type-union-access, # because of the node alignment

  google-*,
  -google-build-using-namespace, # Sometimes it is useful to make names directly visible.

  hicpp-*,
  -hicpp-named-parameter,          # print(std::ostream&);
  -hicpp-uppercase-literal-suffix, # 1u instead of 1U, etc.

  modernize-*,

  performance-*,

  portability-*,
  -portability-template-virtual-member-function, # since DD types are instantiated

  readability-*,
  -readability-identifier-length,        # f, g, ...
  -readability-isolate-declaration,      # because grouping constants can be stylistically acceptable
  -readability-magic-numbers,            # as with cppcoreguidelines-avoid-magic-numbers
  -readability-math-missing-parentheses, # w * P1 + v * P2
  -readability-named-parameter,          # similar to hicpp-named-parameter
  -readability-uppercase-literal-suffix, # see -hicpp-uppercase-literal-suffix

  misc-*,
  -misc-no-recursion, # conj, eval, ite, ...
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  readability-identifier-naming.ClassCase: lower_case
  readability-identifier-naming.ConceptCase: lower_case
  readability-identifier-naming.EnumCase: lower_case
  readability-identifier-naming.EnumConstantCase: UPPER_CASE
  readability-identifier-naming.FunctionCase: lower_case
  readability-identifier-naming.GlobalConstantCase: UPPER_CASE
  readability-identifier-naming.LocalConstantCase: lower_case
  readability-identifier-naming.MemberCase: lower_case
  readability-identifier-naming.MethodCase: lower_case
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.StaticConstantCase: lower_case
  readability-identifier-naming.StructCase: lower_case
  readability-identifier-naming.TemplateParameterCase: CamelCase
  readability-identifier-naming.TypeAliasCase: lower_case
  readability-identifier-naming.UnionCase: lower_case
  readability-identifier-naming.VariableCase: lower_case
...
