*

!*/
build
_deps

!.github/workflows/*.yml
!include/freddy/**/*.hpp
!test/**/*.cpp
!/.clang-format
!/.clang-tidy
!/.gitignore
!/CMakeLists.txt
!/README.md

!BHybridD/CMakeLists.txt
!BHybridD/hybridTest.cpp
!BHybridD/ExpansionNodes/*
